name: Pre-commit Checks

on:
  push:
  pull_request:

jobs:
  pre-commit:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v5
    - name: Install swift-format
      run: brew install swift-format
    - uses: pre-commit/action@v3.0.1
